dist/
dist-newstyle/
cabal-dev/
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.swp
.cabal-sandbox
cabal.project.local*
cabal.sandbox.config
.stack-work
tags
local/
/stack.yaml.lock
.ipynb_checkpoints
/accelerate-llvm-native/accelerate-llvm-native.buildinfo
/cabal.project.freeze
